body{
    background: #fafafa;
}
._writer_all_sirs{
    margin-left: 500px;
    margin-top: 50px;
}
#names_olink{
    width: 220px;
    height: 20px;
    font-size: 14px;

}
.send_olink{
    background: #6bcdf2;
    width: 82px;
    height: 30px;
    color: #ffffff;
    border: none;
    align-content: center;
    margin-left: 15px;
}
.send_olink:hover{
    background: #50b1cb;
}
.in_raod_title{
    float: left;
    width: 100%;
    height: 100%;
    /*
        框架大小
    */
}
#writer_title{
    width: 820px;
    height: 28px;
    font-size: 16px;
    font-family: 黑体;
    /*
     决定标题大小
    */
}
#writer_booktext{
    width: 820px;
    height: 430px;
    resize:none;
    font-size: 16px;
}
.in_raod{
    width:825px;
    height: 28px;
}
.text_promine{
    margin-top: 20px;
}
.in_raod_sendit{
    margin-top: 10px;
}


